{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sr Robot</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'index' %}" class="nav-link">Inicio</a>
          </li>
        </ul>
      </nav>
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="{% url 'index' %}" class="brand-link">
          <img
            src="{% static 'img/logo_sr_robot.png' %}"
            alt="Sr Robot Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">Sr Robot</span>
        </a>
        <div class="sidebar">
          <div class="form-inline" style="margin-top: 10px;">
            <div class="input-group" data-widget="sidebar-search">
              <input
                class="form-control form-control-sidebar"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div>
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              {% block barraactiva %}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-address-book"></i>
                  <p>
                    Clientes
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'agregar-cliente' %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agregar Cliente</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'lista-clientes' %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Ver Clientes</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link ">
                  <i class="nav-icon fas fa-book"></i>
                  <p>
                    Visitas
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'lista-visitas' %}" class="nav-link">
                      <i class="far fa-check-circle nav-icon"></i>
                      <p>Ver Visitas</p>
                    </a>
                  </li>
                </ul>
              </li>
              {% endblock %}
            </ul>
          </nav>
        </div>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{% block titulocontenedor %}Inicio{% endblock %}</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                  <li class="breadcrumb-item active">{% block pagactual %}{% endblock %}</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container-fluid">
            {% block content %}
            <div class="row">
              <div class="col-md-8" style="margin: 0 auto;">
                <div class="card card-outline card-primary">
                  <div class="card-header" style="padding: 5%;">
                    <h3 class="text-center">¡Bienvenido, <b>Sr. Robot!</b></h3dev>
                  </div>
                  <div class="card-body">          
                    <h4 class="text-center">¿Qué deseas hacer?</h4>
                    <div class="callout callout-info">
                      <a href="{% url 'agregar-cliente' %}" class="btn btn-primary" style="text-decoration: none; display: block; width: 100%; height: auto; margin: 1rem auto; color: #fff;">Agregar un <b>Cliente</b></a>
                      <a href="{% url 'lista-clientes' %}" class="btn btn-primary" style="text-decoration: none; display: block; width: 100%; height: auto; margin: 1rem auto;  color: #fff;">Listar los <b>Clientes</b></a>
                    </div>
                    <div class="callout callout-info">
                      <a href="{% url 'lista-visitas' %}" class="btn btn-primary" style="text-decoration: none; display: block; width: 100%; margin: 1rem auto;  color: #fff;">Listar las <b>Visitas</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}
          </div>
        </section>
      </div>
      
      <aside class="control-sidebar control-sidebar-dark">
      </aside>
    </div>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <script>
      $(function () {
        $("#example1")
          .DataTable({
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
          })
          .buttons()
          .container()
          .appendTo("#example1_wrapper .col-md-6:eq(0)");
      });
      $(function () {
        $('#hour_end').datetimepicker({
          format: 'HH:mm'
        })
        $('#hour_start').datetimepicker({
          format: 'HH:mm'
        })
      });
    </script>
  </body>
</html>
